.card {
    background-color: white;
    height: 35rem;
    width: 35rem;
    margin: 2rem;
    overflow: hidden;
    
    img {
        height: 25rem;
        background-size: cover;
        background-position: center center;
    }

    .card-content {
        padding: $spacing;
    }

    .card-title {
        margin: 0;
        color: black;
    }
    
    .card-description {
        margin: 0;
        color: $dark-grey;
    }
    
    #description-section {
        display: none;
    }

}

.game-board-section {
    width: 530px;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    margin: auto;

    .game-board {
        // align-items: center;

        .my-class {
            float: left;
            width: 45px;
            height: 45px;
            border: 5px solid $btn-color-border;
            margin: 5px;
            background-color: $btn-color-active;
        }
        
        .clear {
          clear: left;
        }
    }
}

