.card {
    background-color: white;
    height: 35rem;
    width: 35rem;
    margin: 2rem;
    overflow: hidden;
    
    img {
        height: 25rem;
        background-size: cover;
        background-position: center center;
    }

    .card-content {
        padding: $spacing;
    }

    .card-title {
        margin: 0;
        color: black;
    }
    
    .card-description {
        margin: 0;
        color: $dark-grey;
    }
    
    #description-section {
        display: none;
    
    }

}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid #dcd6bc;
    margin-bottom: 10px;
}